upstream ${APP_NAME} {
  #ip_hash;
  #least_conn;
  server ${INSTANCE_1};
  server ${INSTANCE_2};
}

server {
    listen            ${NGINX_PORT};
    listen       [::]:${NGINX_PORT};
    server_name  localhost;

    location / {
        proxy_pass http://${APP_NAME};
    }
}